<!doctype html>
<html>
<head>
  <title>Your Madlib!</title>
</head>
<body>

<h1>Your Madlib!</h1>
    <p>{{ personone }} was walking in the park one day, humming to {{ genderone }}self. The day was bright, the sun was shining, and the 
        {% for animal in animaloneplural %}
            
            {% if animaloneplural[loop.index0] == (animaloneplural|length - 1) %}
                and 
                {% endif %}

                {{ animal }}

        {% endfor %} 
    were singing.</p>
    <p>Suddenly, two {{ color }} {{ animaltwoplural }} ran by.</p>
    <p>"Run! Run!" they cried. "{{ persontwo }} is coming! And {{ gendertwo }}'s really angry!"</p>



</body>
</html>
